/*Media Queries should always be at bottom of code, otherwise will be overwritten.*/
/*Adjusted from the specific 625px (for nav bar) to 650px. 
Columns in demoreels.html drop from four to two, then one.
Will place fonts on this page as well, since each page will also include this stylesheet, and designelements.css is getting crowded.
Additional fonts: 
"Beau Rivage"
Added .icon-list, .icon-list li, and .fawesome for icons in services.html. Remember to remove later.  
******************/

.beau {
    font-family: "Beau Rivage", cursive;
    font-weight: 400;
    font-size: 2.2em;
    font-style: normal;
    margin-top: 0;
}

.icon-list {
    list-style: none;
    margin: 1.5em 0;
    padding-left: 0;
}

.icon-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.fawesome {
    color: #cbc69c;
    font-size: 24px;
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
        min-height: 240px;
    }
}

@media only screen and (max-width: 650px) {
    #nav_menu ul {
        flex-direction: column;
        align-items: center;
    }

    #nav_menu ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #nav_menu ul li a {
        width: 90%;
        text-align: center;
        padding: 0.5em;
        margin: .3em;
    }
}

@media (max-width: 620px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/*To resolve email links clipping with prior text.*/
@media (max-width: 530px) {
    .links {
        word-break: break-word;
        white-space: normal;
        padding-left: 0.8em;
        padding-right: 0.8em;
    }

    ul.contact-list li {
        text-align: center;
        margin-bottom: 5em;
    }
}

/*Logo on home page*/
@media (max-width: 768px) {
    .logo {
        max-width: 200px;
    }
}