/****************************************
Likely won't use body, but here in case.
Intend to use a fixed background image for the main page.
Copied a suggested background CSS styling format, don't yet understand it.
****************************************/

body {
    background-color: rgb(184, 18, 134);
}

#title {
    font-size: large;
}

.desc {
    color: rgb(95, 216, 178);
}

background {
    background-image: url(Images/CurtainsBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}